:root {
  /* Colors */
  --pure-black-color: rgb(23, 24, 25);
  --pure-white-color: rgb(255, 255, 255);
  --primary-color: rgb(38, 98, 240);

  /* General properties */
  --shadow-color: rgba(0, 0, 0, 0.5);

  --font-color: rgb(158, 167, 172); /* change in site.variables */
  --faded-font-color: rgba(255, 255, 255, 0.6);
  --primary-font-color: var(--pure-white-color);


  /* Components' specific properties */
  /* Workspace */
  --workspace-background-color: rgb(51, 51, 53);

  /* ModelTree */
  --model-tree-background-color: var(--pure-black-color);
  --tree-node-height: 3em;
  --tree-node-hover-color: rgb(45, 54, 59);
  --tree-node-active-color: var(--primary-color);

  /* Filepicker */
  --filepicker-background-color: var(--pure-black-color);

  /* File entry */
  --file-entry-background-color: rgb(33, 34, 35);
  --file-entry-hover-background-color: rgb(0, 0, 0); /* change solidBorderColor in site.variables */
  --file-entry-hover-shadow-background-color: rgb(0, 0, 0); /* change solidSelectedBorderColor in site.variables */

  /* Input */
  --input-background-color: rgb(66, 77, 85); /* change in input.variables */
  --input-hover-background-color: rgb(76, 87, 95);
  --input-focus-background-color: rgb(86, 97, 105); /* change in input.variables */

  /* Card */
  --card-background-color: var(--pure-black-color); /* change in card.variables */

  /* Placeholder */
  --placeholder-backgound-color: rgb(33, 34, 35);
}

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}
