.model-tree {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  overflow: hidden;

  color: var(--font-color);

  background-color: var(--model-tree-background-color);
  border-radius: 5px;
}

.model-tree-title {
  flex-shrink: 0;

  height: 4em;
  padding: 15px;
}

.model-tree-nodes {
  flex-grow: 1;
  overflow: scroll;
}
